<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/bank/sidebar.css" />
    <link rel="stylesheet" href="../../static/css/bank/profile.css" />
    <link rel="stylesheet" href="../../static/css/bank/body_main_body.css" />
    <script src="../../static/javascript/bank/sidebar_wallet.js"></script>
    <script src="../../static/javascript/bank/fetch_user.js"></script>
    <script src="../../../static/javascript/bank/logout/logout.js"></script>
  </head>
  <body>
    <div class="main-body">
      <h1>
        You have logged out and your token has been disable,
        <a href="login.html">Login here</a>
      </h1>
    </div>
  </body>
</html>
